body {
    font-family: 'Arial', sans-serif;
    background: url('meal-planning.jpg') no-repeat center center/cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar .navbar-brand {
    color: pink;
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link:hover {
    background-color: #ffd9e8;
    color: purple;
    border-radius: 4px;
}

.container {
    background-color: rgba(251, 204, 212, 0.9); 
    padding: 20px;
    border-radius: 10px;
}

h2, h3 {
    color: #ffd700; 
}

.meal-plan {
    background-color: pink;
    border: 1px solid rgba(220, 13, 13, 0.5);
    border-radius: 5px;
    min-height: 50px;
    color: purple;
}

.form-select, .form-control {
    background-color: #dde0e3;
    color: #ee3434;
}

.btn-primary {
    background-color: #ff80a5; 
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #ff4d7a;
}

